* {
  --eggshell: #f4f1deff;
  --burnt-sienna: #e07a5fff;
  --delft-blue: #3d405bff;
  --cambridge-blue: #81b29aff;
  --sunset: #f2cc8fff;
  font-family: Helvetica, sans-serif;
  margin: 1px solid red;
}

body,
html {
  background-color: var(--eggshell);
  margin: 0;
  height: 100%;

}

header {
  background-color: var(--sunset);
}

h1 {
  font-size: 4vw;
  margin: 0;
}

h2 {
  font-size: 3vw;
  margin: 0;
}

h3 {
  font-size: 2vw;
  margin: 0;

}

h4 {
  font-size: 1.7vw;
}

p,
li,
button {
  font-size: 1.5vw;
}

main {
  min-height: 70vh;
  width: 60%;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding-bottom: 2rem;
}

img {
  width: 50%;
}

li {
  padding-bottom: 1rem;
}

button {
  padding-inline: 20px;
  padding-block: 8px;
  border: 1px solid var(--cambridge-blue);
  border-radius: 5px;
  background-color: var(--delft-blue);
  color: var(--cambridge-blue);
}

button:hover {
  cursor: pointer;
  background-color: var(--cambridge-blue);
  color: var(--delft-blue);
}

#start-section {
  padding: 2rem;
  height: fit-content;
  background-color: var(--delft-blue);
}

#tips-section {
  margin-block: 2rem;
}

#tips-section div {
  min-height: 25vh;
  background-color: var(--burnt-sienna);
  color: var(--eggshell);
}

#level-status-section {
  width: 50%;
  margin: 20px auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-1 {
  padding: 1rem;
}

.border-green {
  border: 2px solid var(--cambridge-blue);
  border-radius: 3px;
}

.level-status-div {
  width: 100%;
}

.level-status-div span {
  font-size: 40px;
  padding: 1rem;
  cursor: pointer;
}

.level-status-div span:hover {
  background-color: var(--cambridge-blue);
}

.level-status-div p {
  width: 80%;
  margin: 0 auto;
  min-height: 150px;
}

.level-status-div * {
  margin-bottom: 1rem;
}

.margin-block-1 {
  margin-block: 1rem;
}

.padding-block-1 {
  padding-block: 1rem;
}


.container {
  margin: 0 auto;
  /* width: 50%; */
  height: 100%;
}


.btn-2 {
  background-color: var(--cambridge-blue);
  color: var(--delft-blue);
}

.btn-2:hover {
  cursor: pointer;
  background-color: var(--delft-blue);
  color: var(--cambridge-blue);
}